<ion-card class="zoomer">
  <ion-item lines="full">
    <ion-label>From: {{ email }}</ion-label>
  </ion-item>
  <ion-card-content>
    I recently used ParkSmart and they gave me a special offer to share with my friends.<br>
    Get exclusive offer and gifts for parking.
  </ion-card-content>
  <ion-card-content style="padding-top: 0px;">
    Please only share this with your friends you know would be happy to recieve it.
  </ion-card-content>
</ion-card>
<div style="padding: 0px 8px;" class="zoomer">
  <ion-button color="secondary" expand="block">Send via message</ion-button>
</div>