<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item class="ion-no-padding mb-3" lines="none" style=" --ion-safe-area-right: 0;">
          <ion-searchbar [(ngModel)]="searchText" class="ion-no-padding" placeholder="Search" mode="ios" autocomplete="true" searchIcon>
          </ion-searchbar>
          <ion-icon name="search" slot="end" color="dark" class="search-icon"></ion-icon>
        </ion-item>
        <ion-card mode="ios" class="ion-no-margin">
          <ion-card-header>
            <ion-item lines="none">
              <ion-card-title>Manage User</ion-card-title>
            </ion-item>
          </ion-card-header>
          <ion-card-content>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Sl.no</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Mobile.No</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users | filter: searchText; let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{ user.fullName}}</td>
                  <td>{{ user.email}}</td>
                  <td>{{ user.mobileNumber}}</td>
                  <td>
                    <ion-icon name="trash" slot="end" color="danger" (click)="deleteUser(user._id)"></ion-icon>
                  </td>
                </tr>
              </tbody>
            </table>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>