<ion-header no-border>
  <ion-toolbar>
    <ion-title class="ion-text-center">My Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <div class="center">
          <div>
            <ion-avatar>
              <img src="../../assets/logo.jpeg" alt="">
              <!-- <img src="assets/logo.jpeg" class="logo" alt=""> -->
            </ion-avatar>
          </div>
          <div>
            <small>You dont have any bookings yet..</small>
          </div>
          <div>
            <ion-button color="secondary" expand="block" (click)="goHome()" style="text-transform: none;">Find Parking</ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>