<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main"></ion-back-button>
    </ion-buttons>
    <ion-title>Offers & Promotions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <div class="center">
          <div>
            <ion-avatar>
              <img src="../../assets/images/Parksmart-logo.png" alt="">
            </ion-avatar>
          </div>
          <div>
            <small>You dont have any tickets yet..</small>
          </div>
          <div>
            <ion-button color="secondary" expand="block" (click)="goHome()" style="text-transform: none;">Find Parking</ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>