<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
   <ion-text (click)="goto()" color="danger" style="text-decoration: underline;">Existing</ion-text>
    </ion-buttons>
    <ion-title class="ion-text-center">Add your space for rent</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div class="main-heading">
    <h4>Enter details of your parking space to make user easy to locate</h4>
  </div>
  <div class="sec-1">
    <div>
      <h6 style="font-weight: bold; margin-bottom: 15px;">Enter Country</h6>
    </div>
    <div>
      <ion-item lines="none" class="input">
        <ion-label style="color: #737373;">Choose your country</ion-label>
        <ion-select [(ngModel)]="selectedCountry" ok-text="Ok" cancel-text="Cancel">
          <ion-select-option *ngFor="let country of countryList">
            {{ country.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <div>
      <h6 style="font-weight: bold; margin-bottom: 15px;">Enter Address of your parking space</h6>
    </div>
    <form [formGroup]="firstFormGroup">
      <ion-item class="input" lines="none">
        <ion-input [(ngModel)]="address" clearInput type="text" formControlName="address" placeholder="Enter Address"></ion-input>
      </ion-item>
    </form>
  </div>
  <div class="sec-2">
    <div>
      <h5 style="padding: 0px 24px; margin: 20px 0px;">Add images of your parking space</h5>
    </div>
    <div>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-card mode="ios" class="parking-img">
              <img *ngIf="images['0']" [src]="images['0']">
              <img *ngIf="!images['0']" src="../../assets/images/img-placeholder1.png">
            </ion-card>
            <div>
              <ion-card mode="ios" class="add-btn">
                <ion-button fill="clear" expand="full" (click)="selectImage('0')">Add Image</ion-button>
              </ion-card>
            </div>
            <!-- <div>
              <ion-card mode="ios" class="add-btn">
                <ion-button fill="clear" expand="full" (click)="upload()">Upload</ion-button>
              </ion-card>
            </div> -->
          </ion-col>
          <ion-col size="6">
            <ion-card mode="ios" class="parking-img">
              <img *ngIf="images['1']" [src]="images['1']">
              <img *ngIf="!images['1']" src="../../assets/images/img-placeholder1.png">
            </ion-card>
            <div>
              <ion-card mode="ios" class="add-btn">
                <ion-button fill="clear" expand="full" (click)="selectImage('1')">Add Image</ion-button>
              </ion-card>
            </div>
            <!-- <div>
              <ion-card mode="ios" class="add-btn">
                <ion-button fill="clear" expand="full" (click)="upload()">Upload</ion-button>
              </ion-card>
            </div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-card mode="ios" class="parking-img">
              <img *ngIf="images['2']" [src]="images['2']">
              <img *ngIf="!images['2']" src="../../assets/images/img-placeholder1.png">
            </ion-card>
            <div>
              <ion-card mode="ios" class="add-btn">
                <ion-button fill="clear" expand="full" (click)="selectImage('2')">Add Image</ion-button>
              </ion-card>
            </div>
          </ion-col>
          <ion-col size="6">
            <ion-card mode="ios" class="parking-img">
              <img *ngIf="images['3']" [src]="images['3']">
              <img *ngIf="!images['3']" src="../../assets/images/img-placeholder1.png">
            </ion-card>
            <div>
              <ion-card mode="ios" class="add-btn">
                <ion-button fill="clear" expand="full" (click)="selectImage('3')">Add Image</ion-button>
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div class="parking-type">
    <ion-radio-group [(ngModel)]="parkingType">
      <ion-list-header>
        <h5>What type of parking do you have?</h5>
      </ion-list-header>

      <ion-item lines="none">
        <ion-label>Driveway</ion-label>
        <ion-radio slot="start" value="Driveway" checked></ion-radio>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Garage</ion-label>
        <ion-radio slot="start" value="Garage"></ion-radio>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Car Park</ion-label>
        <ion-radio slot="start" value="CarPark"></ion-radio>
      </ion-item>

      <ion-item lines="none">
        <ion-label>On-street</ion-label>
        <ion-radio slot="start" value="OnStreet"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>

  <div class="space-available">
    <ion-list-header>
      <h5>How many spaces do you have for rent?</h5>
    </ion-list-header>
    <ion-item lines="none">
      <ion-button color="danger" (click)=" decrement()">
        <ion-icon name="remove"></ion-icon>
      </ion-button>
      <div class="space-value">
        {{currentNumber}}
      </div>
      <ion-button color="primary" (click)=" increment()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-item>
  </div>

  <div class="vehicle-type">
    <ion-list-header>
      <h5>What is the largest vehicle your space can accommodate?</h5>
    </ion-list-header>
    <div style="padding: 0px 16px;">
      <small>Setect the largest vehicle possible that can fit through the entrance and into the space
        itself.</small>
    </div>
    <div>
      <ion-card mode="ios">
        <ion-radio-group [(ngModel)]="vehicletype">
          <ion-item>
            <ion-label>Small</ion-label>
            <ion-radio slot="start" value="small"></ion-radio>
            <img src="../assets/images/smallcar.jpg" class="car-img" alt="">
          </ion-item>
          <ion-item>
            <ion-label>Medium</ion-label>
            <ion-radio slot="start" value="medium"></ion-radio>
            <img src="../assets/images/mediumcar.jpg" class="car-img" alt="">
          </ion-item>
          <ion-item>
            <ion-label>Large</ion-label>
            <ion-radio slot="start" value="large"></ion-radio>
            <img src="../assets/images/largecar.jpg" class="car-img" alt="">
          </ion-item>
          <ion-item lines="none">
            <ion-label>Van</ion-label>
            <ion-radio slot="start" value="van"></ion-radio>
            <img src="../assets/images/van.png" class="car-img" alt="">
          </ion-item>
        </ion-radio-group>
      </ion-card>
    </div>
  </div>

  <div class="feature-sec">
    <ion-list-header>
      <h5>What features does your location offer?</h5>
    </ion-list-header>
    <ion-item *ngFor="let feature of features" lines="none">
      <ion-label>{{feature.name}}</ion-label>
      <ion-checkbox [(ngModel)]="feature.checked"  slot="start" name="{{feature.val}}"></ion-checkbox>
    </ion-item>
    
  </div>

  <div class="text-area">
    <ion-list-header>
      <h5>About your space and local area</h5>
    </ion-list-header>
    <div style="padding: 0px 16px;">
      <small>Write something here to help drivers choose your space.Any selling point e.g how far is it from
        transport links or neraby attraction (in minutes)? Anything drivers should be aware of before
        booking.</small>
    </div>
    <div style="padding: 0px 16px;">
      <small>Dont include any contact details or sensitive information here.</small>
    </div>
    <div style="margin-bottom: 10px;">
      <ion-item lines="none">
        <ion-textarea [(ngModel)]="desc" rows="6" cols="20"></ion-textarea>
      </ion-item>
    </div>
  </div>

  <div class="mobile-num-sec">
    <ion-list-header>
      <h5>What is your mobile number?</h5>
    </ion-list-header>
    <ion-item lines="none" class="mobile-num">
      <ion-input [(ngModel)]="mobile" placeholder="Enter mobile number" clearInput type="tel"></ion-input>
    </ion-item>
  </div>
  <div>
    <ion-button (click)="insertImages()" style="--background: white; --color:slategrey; margin:20px 16px;font-weight: bold;">Continue
    </ion-button>
  </div>
</ion-content>