<ion-app>
  <ion-header no-border>
    <ion-toolbar no-border color="none" mode="ios">
      <ion-avatar>
        <!-- <img src="https://i.pinimg.com/originals/d8/fc/1b/d8fc1b977f9eacac2940a3372917c75f.png" alt=""> -->
        <img src="assets/logo.jpeg" class="logo" alt="">
      </ion-avatar>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="text-center">
            <h2>Enter email to reset your password.</h2>
          </div>
          <div>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm.value)">
              <ion-item color="none" class="ion-no-padding">
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email" id="email" formControlName="email"></ion-input>
              </ion-item>
              <div class="error" *ngIf="submitted && resetPasswordForm.controls['email'].hasError('required')">
                <small>Please enter your email</small>
              </div>
            </form>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button  (click)="resetPassword(resetPasswordForm.value)">
        <ion-icon name="checkmark"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</ion-app>