<ion-app>
  <ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/dashboard/home"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center">
        My Profile
      </ion-title>
      <ion-icon name="exit" slot="end"  style="padding:0px 12px; font-size: 24px; color: white;" (click)="logout()" ></ion-icon>
    </ion-toolbar>
    <div [myScrollVanish]="scrollArea" class="d-flex flex-column align-items-center">
      <div>
        <ion-avatar>
          <img *ngIf="imageResponse" [src]="imageResponse" (click)="getImages()">
          <img src="../../assets/images/user-avatar.png" alt="">
        </ion-avatar>
      </div>
      <div>
        <ion-label class="fullname">{{ fullName | titlecase}}</ion-label>
      </div>
    </div>
  </ion-header>

  <ion-content #scrollArea scrollEvents="true">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <h4>Personal</h4>
            <ion-card mode="ios">
            <ion-item lines="none" color="none">
              <ion-label>Full Name :  {{ fullName | titlecase }}</ion-label>
              <ion-icon  name="create" slot="end" routerLink="/update-name" routerDirection="forward"></ion-icon>
            </ion-item>
            <ion-item lines="none" color="none">
              <ion-label>Email :  {{ email }}</ion-label>
              <ion-icon name="create" slot="end" routerLink="/update-email" routerDirection="forward"></ion-icon>
            </ion-item>
            <ion-item lines="none" color="none">
              <ion-label>Mobile Number :  {{ mobileNumber }}</ion-label>
              <ion-icon name="create" slot="end" routerLink="/update-mob-number" routerDirection="forward"></ion-icon>
            </ion-item>
          </ion-card>
          </div>

          <div>
            <h4>Payment</h4>
            <ion-card mode="ios">
            <ion-item lines="none" color="none">
              <ion-label>Add New Payment Method</ion-label>
              <ion-icon name="add-circle" slot="end"></ion-icon>
            </ion-item>
          </ion-card>
          </div>
          <div>
            <h4>Vehicles</h4>
            <ion-card mode="ios">
            <ion-item lines="none" color="none">
              <ion-label>Add New Vehicle</ion-label>
              <ion-icon name="add-circle" slot="end"></ion-icon>
            </ion-item>
          </ion-card>
          </div>
          <div>
            <h4>Other</h4>
            <ion-item lines="none" color="none">
              <ion-label>Data Preferences</ion-label>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>