ion-col {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  padding: 0px 16px;
}
ion-input {
  font-family: "Sulphur Point";
}
h2 {
  margin: 0px;
  color: #3880ff;
}
.title {
  margin-bottom: 30px;
}
.qr-icon{
  margin-left: 16px;
}
