<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main"></ion-back-button>
    </ion-buttons>
    <ion-title>Invite Friends</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div style="text-align: center;">
          <p><b>{{ fullName | titlecase }}</b> invite your friends using,</p>
        </div>
        <div class="ion-text-center">
          <ion-icon name="mail" color="warning" class="msg-icon" routerLink="/invite/msg"></ion-icon>
          <ion-icon name="logo-facebook" color="primary" class="fb-icon" routerLink="/invite/fb"></ion-icon>
          <ion-icon name="logo-whatsapp" color="success" class="w-icon" routerLink="/invite/whatsapp"></ion-icon>
        </div>
        <div>
          <router-outlet ></router-outlet>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="declaration">
    <small style="color: black;">
      By accepting this offer you agree to the Terms and Conditions <br>
      POWERED BY <span style="color: dodgerblue;">PARK</span><span style="color: orangered;">SMART</span>
    </small>
  </div>
</ion-content>
