ion-toolbar{
    --background: slategrey;
    color: white;
}

ion-segment-button{
    --background: #f4f5f8;
    --color: slategrey;
    --color-checked: slategrey;
    --background-checked: #f4f5f8;
}