<ion-app>
  <ion-menu side="start" contentId="my-content">
    <ion-header no-border>
      <ion-toolbar class="ion-no-padding">
        <!-- <ion-avatar>
          <img src="https://i.pinimg.com/originals/d8/fc/1b/d8fc1b977f9eacac2940a3372917c75f.png" alt="logo">
        </ion-avatar> -->
        <ion-item routerLink="/user-details" routerDirection="forward" lines="none" color="none">
          <ion-avatar slot="start">
            <img [src]="[userImg]">
          </ion-avatar>
          <ion-label>
            <b style="color: slategrey;">{{fullName | titlecase }}</b><br>
            <small style="color: slategrey;">My Profile</small>
          </ion-label>
          <ion-icon name="arrow-forward" slot="end" mode="ios"></ion-icon>
        </ion-item>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list class="ion-no-padding">
        <ion-item lines="none" color="none" routerLink="/about" routerDirection="forward" (click)="closeMenu()">
          <ion-icon name="information-circle" slot="start"></ion-icon>
          <ion-label class="menu-list">About Us</ion-label>
        </ion-item>
        <ion-item lines="none" color="none" routerLink="/services" routerDirection="forward" (click)="closeMenu()">
          <ion-icon name="cog" slot="start"></ion-icon>
          <ion-label class="menu-list">Services</ion-label>
        </ion-item>
        <ion-item lines="none" color="none" routerLink="/tickets-permits" routerDirection="forward"
          (click)="closeMenu()">
          <ion-icon name="filing" slot="start"></ion-icon>
          <ion-label class="menu-list">Offers & Promotions</ion-label>
        </ion-item>
        <ion-item lines="none" color="none" routerLink="/promocodes" routerDirection="forward" (click)="closeMenu()">
          <ion-icon name="pricetag" slot="start"></ion-icon>
          <ion-label class="menu-list">Promo codes</ion-label>
        </ion-item>
        <ion-item lines="none" color="none" routerLink="/invite" routerDirection="forward" (click)="closeMenu()">
          <ion-icon name="contacts" slot="start"></ion-icon>
          <ion-label class="menu-list">Invite Friends</ion-label>
        </ion-item>
        <ion-item lines="none" color="none" routerLink="/help" routerDirection="forward" (click)="closeMenu()">
          <ion-icon name="help-circle" slot="start"></ion-icon>
          <ion-label class="menu-list">Help</ion-label>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="my-content">
    <ion-header no-border>
      <ion-toolbar no-border mode="ios">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          <span style="color: dodgerblue;">Park</span><span style="color: orangered;">Smart</span>
        </ion-title>
        <ion-buttons slot="end">
          <ion-icon name="notifications" class="notification-icon" routerLink="/main/messages"></ion-icon>
          <ion-badge color="danger">10</ion-badge>
        </ion-buttons>
      </ion-toolbar>
      <ion-searchbar placeholder="Enter destination location" routerLink="/search-parking"></ion-searchbar>
      <div class="d-flex flex-row">
        <div>
          <div class="d-flex flex-column">
            <div>
              <ion-label style="padding-left: 18px;">Check-In</ion-label>
            </div>
            <div>
              <ion-datetime displayFormat="MMM DD, h:mm A" [(ngModel)]="myDate"></ion-datetime>
            </div>
          </div>
        </div>
        <div class="ml-auto">
          <div class="d-flex flex-column">
            <div>
              <ion-label style="padding-left: 18px;">Check-Out</ion-label>
            </div>
            <div>
              <ion-datetime displayFormat="MMM DD, h:mm A" [(ngModel)]="myDateTime"></ion-datetime>
            </div>
          </div>
        </div>
      </div>
    </ion-header>

    <ion-content>
      <div id="map_canvas"></div>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="light" (click)="getCurrentLocation()">
          <ion-icon name="locate"></ion-icon>
        </ion-fab-button>
      </ion-fab>
     
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-grid>
          <ion-row>
            <ion-col ><ion-button style="width: 100%;" (click)="gotoParkings()" color="danger">Get Parkings</ion-button></ion-col>
            <ion-col  *ngIf="adminLogin"><ion-button style="width: 100%;" (click)="gotoAddParkings()"  color="danger">Add Parking</ion-button></ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </ion-footer>
   
    
  </div>
  
</ion-app>