<ion-app>
  <ion-header no-border>
    <ion-toolbar no-border color="none" mode="ios">
      <ion-avatar>
        <img src="https://i.pinimg.com/originals/d8/fc/1b/d8fc1b977f9eacac2940a3372917c75f.png" alt="">
      </ion-avatar>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="text-center">
            <h2>Enter your new password.</h2>
          </div>
          <div>
            <form [formGroup]="setPasswordForm" (ngSubmit)="setPassword(setPasswordForm.value)">
              <ion-item color="none" class="ion-no-padding">
                <ion-input type="password" id="password" placeholder="Set new password" formControlName="newPassword"></ion-input>
              </ion-item>
              <ng-container *ngFor="let validation of validation_messages.password">
                <div class="error"
                  *ngIf="submitted && setPasswordForm.get('newPassword').hasError(validation.type)">
                  <small>{{ validation.message}}</small>
                </div>
              </ng-container>
            </form>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button  (click)="setPassword(setPasswordForm.value)">
        <ion-icon name="checkmark"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</ion-app>